body {
  background-color: black !important;
  background-size: auto 100% 100%;
  background-repeat: no-repeat;
  color: white;
  font-family: monospace !important;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* scro bar */
body::-webkit-scrollbar {
  display: none;
}

/* nav-bar */
.navbar {
  background-color: white !important;
  backdrop-filter: blur(2px);
}

/* icon */
.navbar-brand img {
  height: 40px;
}

.navbar-brand img:hover,
.hover:hover {
  transform: scale(1.1);
  /* animation: balloon 15s infinite linear; */
}

.under-line:hover {
  border-bottom: 2px solid #bdba17 !important;
}

.profile-content {
  line-height: 50px;
}

.my-image img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  #myImage {
    width: 80%;
    /* max-width: 150%; */
    height: 10%;
  }
}

.social {
  border-radius: 50% !important;
  background-color: rgb(207, 228, 235) !important;
}

h1 {
  color: #dbde2b;
  /* font-size: 10px; */
  font-family: monospace;
}

.type-text {
  position: relative;
}

.type-text::after {
  content: "";
  display: block;
  position: absolute;
  right: -5px;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #ffffff;
  animation: type 0.5s infinite;
  -webkit-animation: type 0.5s infinite;
}

@-webkit-keyframes type {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@keyframes type {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.social-media a {
  text-decoration: none;
}

/* particle js */
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
}

.toggle-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1;
  cursor: pointer;
}
